################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Build
build/
bin/*.exe
bin/*.out
bin/*.dll
