################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Build
build/
bin/*.exe
bin/*.dll
bin/*.so*
deps

bin/server
bin/Poker
bin/client
